process {
  withName:MINIMAP2 {
    container = '/hpcfs/groups/phoenix-hpc-avsci/CONTAINERS/minimap2.sif'
  }
  withName:SNIFFLES2 {
    container = '/hpcfs/groups/phoenix-hpc-avsci/CONTAINERS/sniffles2.sif'
  }
  withName:NANOPLOT_FILTERED {
    container = '/hpcfs/groups/phoenix-hpc-avsci/CONTAINERS/nanoplot.sif'
  }
  withName:NANOPLOT_RAW {
    container = '/hpcfs/groups/phoenix-hpc-avsci/CONTAINERS/nanoplot.sif'
  }
}