process {
  withName:MINIMAP2 {
    container = 'callumm93/minimap2:v2.26'
  }
  withName:SNIFFLES2 {
    container = 'callumm93/sniffles2:v2.2'
  }
  withName:SPLITBAM {
    container = 'callumm93/samtools:v1.19'
  }
  withName:NANOPLOT_RAW {
    container = 'callumm93/nanoplot:v1.42'
  }
  withName:NANOPLOT_FILTERED {
  container = 'callumm93/nanoplot:v1.42'
  }
  withName:FILTLONG {
    container = 'callumm93/filtlong:v0.2.1'
  }
}